.homeContainer {
  display: flex; /* Configura como flexbox */
  height: 100vh; /* Ocupar toda la altura */
}

.filter {
  width: 100%; /* Ocupar menos de la mitad horizontalmente */
  height: 100%; /* Ocupar toda la altura */
  margin: 0; /* Eliminar márgenes */
  box-sizing: border-box; /* Incluye el padding y borde en el tamaño */
}

.contentContainer {
  flex: 1; /* Ocupar el resto del ancho */
  position: relative; /* Permite posicionar elementos dentro de este contenedor */
  padding: 20px; /* Espaciado interno */
  background-color: #1e1e1e; /* Opcional: color de fondo */
}

.buttonProfile {
  position: absolute; /* Posición absoluta dentro del contenedor */
  top: 20px; /* Espaciado desde arriba */
  right: 20px; /* Espaciado desde la derecha */
}
