.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #181818; // Fondo oscuro para el contenedor principal
  
    h2 {
      color: #ffffff; // Blanco para el título
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      background-color: #2c2c2c; // Fondo gris oscuro para el formulario
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); // Sombra clara
  
      div {
        margin-bottom: 15px;
  
        label {
          display: block;
          color: #D62976; // Rosa de Instagram
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #444; // Borde gris oscuro
          border-radius: 4px;
          font-size: 16px;
          background-color: #3a3a3a; // Fondo de entrada gris más oscuro
          color: #ffffff; // Texto blanco
          transition: border-color 0.3s ease;
  
          &:focus {
            border-color: #F77737; // Naranja de Instagram
            outline: none;
          }
        }
      }
  
      button {
        background-color: #D62976; // Rosa de Instagram
        color: #ffffff; // Blanco
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #F77737; // Naranja de Instagram
        }
      }
    }
  
    p {
      margin-top: 10px;
  
      &.success {
        color: #2ecc71; // Verde brillante para mensajes de éxito
      }
  
      &.error {
        color: #e74c3c; // Rojo para mensajes de error
      }
    }
  }
  