.schoolsContainer {
  padding: 20px;
  background-color: #181818; // Fondo oscuro
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); // Sombra más profunda para el efecto oscuro
}

.schoolsList {
  list-style-type: none; // Eliminar los puntos de la lista
  padding: 0; // Eliminar el padding por defecto
  margin: 0; // Eliminar el margin por defecto

  .schoolItem {
    background-color: #2c2c2c; // Fondo oscuro para cada item
    padding: 15px;
    border: 1px solid #3a3a3a; // Borde ligeramente más claro
    border-radius: 4px;
    margin-bottom: 10px; // Separación entre elementos
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-3px); // Efecto de elevación
      box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2); // Sombra más clara al pasar el mouse
    }

    .schoolLink {
      text-decoration: none; // Sin subrayado
      color: #f7f7f7; // Texto claro para contraste

      &:hover {
        color: #ff3b30; // Color de enlace al pasar el mouse (rojo Instagram)
      }

      .schoolName {
        font-size: 20px; // Tamaño de fuente más grande para el nombre del colegio
        font-weight: bold;
        margin: 0 0 5px; // Margen inferior
        color: #ffffff; // Texto en blanco para mayor legibilidad
      }

      p {
        margin: 0; // Sin margen en los párrafos
        font-size: 16px; // Tamaño de fuente estándar
        color: #d1d1d1; // Texto gris claro para los detalles
      }
    }
  }
}
