.schoolProfile {
  background-color: #2c2c2c; // Fondo gris oscuro para el perfil
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); // Sombra clara
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;

  .schoolName {
    color: #D62976; // Rosa de Instagram
    font-size: 24px;
    margin-bottom: 20px;
  }

  .profileDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .profileSection {
      flex: 1 1 45%; // Dos columnas
      margin: 10px;
      padding: 15px;
      background-color: #3a3a3a; // Fondo gris más oscuro para las secciones del perfil
      border-radius: 6px;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); // Sombra clara

      h3 {
        color: #F77737; // Naranja de Instagram
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
        color: #ffffff; // Blanco para el texto
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px; // Espacio entre icono y texto
          color: #D62976; // Color rosa de Instagram para los iconos
        }
      }
    }
  }

  .loading {
    text-align: center;
    color: #95a5a6; // Gris claro para el texto de carga
  }
}
